.Rproj.user
.Rhistory
.RData
.Ruserdata
course_admin/

# Rmd output
*.html
*.pdf
*_files/
*_cache/
_site/
site_libs/
*.log
*.tex

raw-data/

# Office stuff
~$*

# Don't ignore these specific files
!footer.html
